<%= render "layouts/nav" %>
<%= render "layouts/panel" %>
<div class="container">
<div class="span7" style="margin-right:13%;margin-left:5%"> 
  <div class="alert alert-info">
    <h1>Панель управления сайтом</h1>
    <strong><p>Здесь Вы можете добавлять новости и просматривать статистику сайта</p></strong>
  </div>
  <hr>
  <h3>Статистика:</h3>
  <h5>Всего:</h5>
<table class="table table-bordered table-hover">
  <tr>
  	<th>Новостей</th>
    <th>Пользователей</th>
  </tr>
  <td><%= @posts.size %></td>
  <td><%= @users.size %></td>
</table>
<hr>
<div class="span7" style="margin-right:13%;margin-left:5%"> 
	<p>По всем вопросам касательно работы сайта Вы можете обратиться на почту <a href="mailto:#">flashbulb54@gmail.com</a></p>
</div>
</div>
</div>