



<%= render "layouts/nav" %>

 <div class="container">


<!-- Приветствие
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span6">
      <h2>Черёмушки</h2>
      <p class="lead">
        Вы зашли на страницу Центра детского и юношеского туризма и экскурсий "Черемушки".
        Мы будем рады видеть Вас в числе наших друзей.</p>
    </div>
    <div class="span6">
      <%= image_tag "1.jpg", :class => "img-rounded" %>
    </div>
  </div>
</header>
  
<hr>

<!-- Контент
================================================== -->


<%= render "layouts/posts" %>

  </div>

