= render "layouts/nav"
.container
  /
    Приветствие
    \==================================================
  %header#overview.jumbotron.subhead
    .row
      .span6
        %h2 Черёмушки
        %p.lead
          Вы зашли на страницу Центра детского и юношеского туризма и экскурсий "Черемушки".
          Мы будем рады видеть Вас в числе наших друзей.
      .span6
        = image_tag "2.png", :class => "img-rounded"
  %hr
    /
      Контент
      \==================================================
    = render "layouts/posts"