<%= javascript_include_tag "application.js" %>
<%= render "layouts/nav" %>
<%= render "layouts/panel" %>
<div class="container">
<div class="span12">
<div class="alert alert-info">
<h2>Редактирование новости</h2>
</div>
<hr>
<%= render 'form' %>
</div>
</div>
