<%= render "layouts/nav" %>
<div class="container" >
  <div class="row">
      <div class="span10">
    
        <h2 style="margin: 10px 10px 0 12px;"><%= raw @post.title %></h2>
        <hr>
      <div class='span11'>
        <div class='post-text'>
          	<%= raw @post.text %>
        </div>
  <hr>       

         
    </div>
  
    </div>
  </div>
</div>
