= render "layouts/nav"
= render "layouts/pages_category"
.container
  .row
    .span10
      %h2{:style => "margin: 10px 10px 0 12px;"}= @category.title
      %hr
    .span11
      .post-text
        = raw @category.text