    <!-- Навигация
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li><%= link_to "Главная", root_path %><i class="icon_home"></i>  </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">О нас <b class="caret"></b></a>
            <ul class="dropdown-menu" id="swatch-menu">
              <li><a href="">План работы</a></li>
              <li><a href="">История центра</a></li>
              <li><a href="">Контакты</a></li>
              <li><a href="gallery.html">Фотографии</a></li>
            </ul>
          </li>          
          <li class="dropdown" id="preview-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Туризм <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a target="_blank" href="">Пеший туризм</a></li>
              <li><a target="_blank" href="">Водный туризм</a></li>
            </ul>
          </li>
          <li class="dropdown" id="preview-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Слеты и соревнования <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a target="_blank" href="">Проводы зимы</a></li>
              <li><a target="_blank" href="">Весенний марафон</a></li>
              <li><a target="_blank" href="">Осенний марафон</a></li>
              <li><a target="_blank" href="">Зимние старты</a></li>
              <li><a target="_blank" href="">Заколдованный лес</a></li>               
            </ul>
          </li>
          <li class="dropdown" id="preview-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Мкк <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a target="_blank" href="">Состав и полномочия</a></li>
              <li><a target="_blank" href="">Выездные мероприятия</a></li>
              <li><a target="_blank" href="">Инструкция</a></li>
              <li><a target="_blank" href="">Правила проведения походов</a></li>             
            </ul>
          </li>
          <li class="dropdown" id="preview-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Другие направления <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a target="_blank" href="">Танцы</a></li>
              <li><a target="_blank" href="">Английский язык</a></li>
              <li><a target="_blank" href="">Студия капелька</a></li>           
            </ul>
          </li>
          <li><a id="swatch-link" href="">Экскурсии</a></li>
          <li><a id="swatch-link" href="">Отчеты</a></li>               
        </ul>
          <%= if session[:user_id] == nil 
                 render "layouts/login"
              elsif @current_user[:role] == "Admin"
                render "layouts/adm"
              else render "layouts/user"
          end %>
       </div>
     </div>
   </div>
 </div>