    <!-- Навигация
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li><%= link_to "Главная", root_path %><i class="icon_home"></i>  </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">О нас <b class="caret"></b></a>
              <ul class="dropdown-menu" id="swatch-menu">
                <li><a href="">План работы</a></li>
                <li><a href="">История центра</a></li>
                <li><a href="">Контакты</a></li>
              </ul>
          </li>
          <%@categories.each do |category|%>
            <%= if category.subcategory.count > 0 
                render "layouts/drop", :category => category
              else
                render "layouts/li", :category => category
                end %>
          <% end %>     

          <li><a id="swatch-link" href="">Фотографии</a></li>    
        </ul>
          <%= if @current_user and @current_user[:role] == "Admin"
                render "layouts/adm"
          end %>
       </div>
     </div>
   </div>
 </div>