          <ul class="nav pull-right">
              <li  style="position: relative">
                <%= link_to "Личный кабинет", :controller => :users, :action => :show, :id => session[:user_id]  %>
              </li>
            </ul>